@import './vars.scss';
.flex {
  display: flex;
}

.center {
  display: flex;
  justify-content: center;
}

.react-app-wrapper {
  background-color: #282c34;
  height: 100vh;
  color: $react-blue;
  a {
    color: $react-blue !important;
  }
}