---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const frameworks = [
	{
		title: 'React',
		body: "React, the most used web framework by a longshot, created by Facebook and still maintained by 'Meta', this framework has such a big community you will never be alone when it comes to integrating third party packages or debugging problems.",
		link: '/react'
	},
	{
		title: 'Svelte',
		body: 'The most popular web framework of recent times, this is a compiler, unlike React/Angular that ship a JavaScript run time to the browser. This makes Svelte high performing while maintaining a small package.',
		link: '/svelte'
	},
	{
		title: 'Lit',
		body: 'A lightweight framework with a footprint of around 5 KB when compressed.',
		link: '/lit'
	},
	{
		title: 'Preact',
		body: 'A fast React alternative, with a boasted 3 KB footprint',
		link: '/preact'
	},
	{
		title: 'Solid',
		body: 'This framework has no Virtual DOM, making it effecient.',
		link: '/solid'
	},
	{
		title: 'Vue',
		body: 'One of the most popular web frameworks, coming just behind Angular in the 2022 Stackoverflow survey, it has a big commited community making getting support for your deving easy.',
		link: '/vue'
	}
]
---

<Layout title="Framework Fun">
	<main>
		<h1>Welcome to <span class="text-gradient">Framework fun</span></h1>
		<p class="instructions">
			Check out the <code>src/pages</code> directory to get started.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		{frameworks.map(framework => <Card logo={`${framework.title}.png`} body={framework.body} title={framework.title} link={framework.link}/>)}
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
